.che {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.che>div:nth-child(1) {
    width: 100%;
    height: calc(0.44rem*2);
    background: red;
    text-align: center;
    line-height: calc(0.44rem*2);
}

.che>div:nth-child(2) {
    width: 100%;
    height: calc(0.44rem*2);
    border-bottom: solid 1px #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.che>div:nth-child(2) a {
    text-decoration: none;
    color: black;
}

.che>div:nth-child(2) .active {
    background: limegreen;
}

.che>div:nth-child(3) {
    flex: 1;
    overflow: auto;
}