.list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 44px;
    background: #eee;
    line-height: 44px;
    text-align: center;
}

.main {
    flex: 1;
    overflow: auto;
}

.footer {
    width: 100%;
    height: 50px;
    background: #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer dl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: black;
}

.footer .active {
    color: red;
}